:root {
  --white: white;
  --black: black;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.wrap {
  width: 100vw;
  height: 100vh;
  perspective: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.loading {
  z-index: 1;
  color: #101111;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Changa One, Impact, sans-serif;
  font-weight: 400;
  position: absolute;
}

.loading.clone {
  color: #fff;
  font-family: Changa One, Impact, sans-serif;
}

.restart {
  z-index: 999;
  color: #000;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #c1c7cf;
  padding-top: 11px;
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  position: absolute;
  top: 5vh;
  right: 5vw;
}

.blk-block {
  width: 100vw;
  height: 100vh;
  background-color: #101111;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.count {
  z-index: 5;
  color: #101111;
  text-align: center;
  letter-spacing: 2px;
  font-family: Changa One, Impact, sans-serif;
  font-size: 38px;
  line-height: 42px;
  position: relative;
  top: 35vh;
}

.div-block {
  text-align: center;
  background-color: #ffcaaf;
  border-radius: 65px;
  margin: 116px 220px 141px;
  padding: 20px 100px 0;
}

.text-block {
  text-align: center;
  margin-top: -50px;
  padding-top: 93px;
  padding-bottom: 9px;
  font-family: Changa One, Impact, sans-serif;
  font-size: 80px;
}

.button {
  text-align: center;
  margin-left: 143px;
  margin-right: 0;
  padding-left: 237px;
  padding-right: 0;
}

.div-block-2 {
  margin-top: 176px;
  padding-top: 96px;
  padding-bottom: 0;
}

.button-wrapper {
  perspective: 1500px;
  text-align: center;
  margin-top: 116px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 220px;
  padding-right: 220px;
  text-decoration: none;
  position: relative;
}

.button-face {
  z-index: 10;
  color: #fff;
  text-transform: uppercase;
  background-image: linear-gradient(45deg, #f68a00, #f1b700);
  padding: 15px 25px;
  font-weight: 700;
  text-decoration: none;
  position: relative;
}

.button-text {
  font-family: Changa One, Impact, sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-decoration: none;
}

.button-side {
  z-index: 10;
  width: 99.5%;
  height: 10px;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  background-image: linear-gradient(rgba(0, 0, 0, .11), rgba(0, 0, 0, .11)), linear-gradient(#f59100, #9b7500);
  position: relative;
  transform: perspective(100px)rotateX(-60deg)rotateY(0)rotateZ(0);
}

.text-block-2 {
  outline-offset: 0px;
  text-align: left;
  border-radius: 10px;
  outline: 3px solid #333;
  margin-left: -22px;
  margin-right: 735px;
  padding: 7px 2px 10px 0;
  font-family: Changa One, Impact, sans-serif;
  font-size: 20px;
}

.cell {
  padding-left: 0;
  padding-right: 0;
}

.spline-scene {
  padding-top: 0;
  padding-bottom: 17px;
}

@media screen and (max-width: 991px) {
  .loading {
    font-size: 30px;
  }

  .loading.clone, .count {
    font-size: 30px;
    line-height: 44px;
  }
}

@media screen and (max-width: 767px) {
  .loading, .loading.clone {
    font-size: 28px;
  }
}

@media screen and (max-width: 479px) {
  .loading {
    font-size: 24px;
  }

  .loading.clone {
    z-index: 2;
    font-size: 24px;
  }
}

#w-node-_38c0013e-2f56-60d9-d4dc-310ec595e619-8c777414 {
  grid-template-rows: auto;
  grid-template-columns: .25fr .25fr 1fr;
}
